@{
  Layout = "_Layout";
}

<h1>Hair Salon Database</h1>

<p>@Html.ActionLink("See all stylists", "Index", "Sylists")</p>
<p>@Html.ActionLink("Add a stylist" "Create", "Stylists")</p>
<p>@Html.ActionLink("Add a client", "Create", "Clients")</p>

